## 13.2 유가증권시장 12개월 모멘텀

최근 투자 기간 기준으로 12개월 모멘텀 계산 날짜 구하기

In [1]:
from pykrx import stock
import FinanceDataReader as fdr

In [2]:
df = fdr.DataReader(symbol='KS11', start="2019-10")
start = df.loc["2019-10"]
end = df.loc["2020-09"]

In [3]:
start_date = start.index[0]
end_date = end.index[-1]
print(start_date, end_date)

2019-10-01 00:00:00 2020-09-29 00:00:00

가격 모멘텀 계산 시작일 기준으로 등락률을 계산합니다.

In [4]:
kospi = stock.get_market_price_change_by_ticker(
    fromdate="20191002",   # 2019년 10월 01일 종가 
    todate="20200929",
    market="KOSPI"
)
kospi

               종목명      시가      종가    변동폭     등락률        거래량           거래대금
티커
095570      AJ네트웍스    4510    3245  -1265  -28.05   46050913   167022009640
006840       AK홀딩스   33150   17550 -15600  -47.06   12385904   295165158450
027410         BGF    6030    4080  -1950  -32.34   46538597   210899476015
282330      BGF리테일  197000  123500 -73500  -37.31    9723372  1441636865905
138930     BNK금융지주    7210    5060  -2150  -29.82  296589614  1652425019406
...            ...     ...     ...    ...     ...        ...            ...
099340      하나니켈1호     445       0   -445 -100.00          0              0
099350      하나니켈2호    1015       0  -1015 -100.00          0              0
159650      하이골드8호    1890       0  -1890 -100.00          0              0
002300        한국제지   18050       0 -18050 -100.00          0              0
027390  한화갤러리아타임월드   18350       0 -18350 -100.00          0              0

[901 rows x 7 columns]

12개월 등락률(가격 모멘텀, 최근 1개월 제외)을 기준으로 상위 20종목의 종목 코드를 가져와봅시다.

In [5]:
kospi.sort_values(by='등락률', ascending=False)[:20]

             종목명     시가      종가     변동폭      등락률         거래량            거래대금
티커
019175     신풍제약우   5660  166500  160840  2841.70   116240288   6537320892040
019170      신풍제약   6410  126500  120090  1873.48  1917161531  59710873309180
025560      미래산업    172    3300    3128  1818.60  5595248605    666977731827
005257  녹십자홀딩스2우  16000  138000  122000   762.50     5435694    438511545450
28513K    SK케미칼우  20550  166500  145950   710.22    63152609   4770490865050
037270    YGPLUS   1165    8370    7205   618.45   926281441   3814249180565
011000    진원생명과학   4220   29650   25430   602.61  1815682127  26186913711445
007575     일양약품우  16550  106500   89950   543.50     8287475    748457272250
285130     SK케미칼  46550  296500  249950   536.95   162348634  26473231412800
010145     삼성중공우  60100  356000  295900   492.35     6648334   3094906808650
030790     비케이탑스    921    5180    4259   462.43  1463202426    901177996278
009835    한화솔루션우  12150   68200   56050   461.32    53938683   2035897734910
012170   키위미디어그룹    150     600     450   300.00           0               0
002630   오리엔트바이오    424    1625    1201   283.25  1597316657   1230534124841
007570      일양약품  20750   79200   58450   281.69   292290880  18143128107500
033270   유나이티드제약  19700   72500   52800   268.02   154612625   7278417901150
000995   DB하이텍1우  38700  142000  103300   266.93     3616131    376147911750
002410      범양건영   1655    6000    4345   262.54   444212360   1915663341020
006125  SK디스커버리우  14750   53000   38250   259.32    42211614   1613246019630
026890       디피씨   5090   15950   10860   213.36  1904746088  20535265498370

In [6]:
kospi_momentum20 = kospi.sort_values(by='등락률', ascending=False)[:20]
kospi_momentum20 = kospi_momentum20[['종목명', '등락률']]
kospi_momentum20.rename(columns={"등락률": "Momentum"}, inplace=True)
kospi_momentum20

             종목명  Momentum
티커
019175     신풍제약우   2841.70
019170      신풍제약   1873.48
025560      미래산업   1818.60
005257  녹십자홀딩스2우    762.50
28513K    SK케미칼우    710.22
037270    YGPLUS    618.45
011000    진원생명과학    602.61
007575     일양약품우    543.50
285130     SK케미칼    536.95
010145     삼성중공우    492.35
030790     비케이탑스    462.43
009835    한화솔루션우    461.32
012170   키위미디어그룹    300.00
002630   오리엔트바이오    283.25
007570      일양약품    281.69
033270   유나이티드제약    268.02
000995   DB하이텍1우    266.93
002410      범양건영    262.54
006125  SK디스커버리우    259.32
026890       디피씨    213.36

In [7]:
pct_df = stock.get_market_price_change_by_ticker(
    fromdate="20201006",  # 2020-10-05일 종가가 시가 컬럼임
    todate="20210430",
    market="KOSPI"
)
pct_df

             종목명      시가      종가    변동폭     등락률        거래량           거래대금
티커
095570    AJ네트웍스    3380    5560   2180   64.50   68324388   295501643030
006840     AK홀딩스   17500   31100  13600   77.71   16549715   446177690950
027410       BGF    4100    6910   2810   68.54  150084297   917847484220
282330    BGF리테일  124000  153000  29000   23.39    7270374  1067541164467
138930   BNK금융지주    5070    7670   2600   51.28  333576646  2009691636245
...          ...     ...     ...    ...     ...        ...            ...
000545     흥국화재우    9910   11200   1290   13.02   27498990   459271550420
003280      흥아해운     258     258      0    0.00          0              0
005190      동성화학   15700       0 -15700 -100.00          0              0
003415     쌍용양회우   18200       0 -18200 -100.00          0              0
152330  코리아오토글라스   14050       0 -14050 -100.00          0              0

[914 rows x 7 columns]

In [8]:
pct_df = pct_df[['시가', '종가', '등락률']]

In [9]:
kospi_momentum20_result = kospi_momentum20.join(pct_df)
kospi_momentum20_result

             종목명  Momentum      시가      종가     등락률
티커
019175     신풍제약우   2841.70  164500   72900  -55.68
019170      신풍제약   1873.48  127000   69800  -45.04
025560      미래산업   1818.60    3330   15450  363.96
005257  녹십자홀딩스2우    762.50  143500   89400  -37.70
28513K    SK케미칼우    710.22  166500  123000  -26.13
037270    YGPLUS    618.45    7030    5870  -16.50
011000    진원생명과학    602.61   30650   17400  -43.23
007575     일양약품우    543.50  103000   37850  -63.25
285130     SK케미칼    536.95  299000  266500  -10.87
010145     삼성중공우    492.35  357000  335000   -6.16
030790     비케이탑스    462.43    5220    9100   74.33
009835    한화솔루션우    461.32   75100   55600  -25.97
012170   키위미디어그룹    300.00     600    1105   84.17
002630   오리엔트바이오    283.25    1715    1510  -11.95
007570      일양약품    281.69   76800   38250  -50.20
033270   유나이티드제약    268.02   73700   52400  -28.90
000995   DB하이텍1우    266.93  135000  118500  -12.22
002410      범양건영    262.54    6020    4000  -33.55
006125  SK디스커버리우    259.32   51900   41900  -19.27
026890       디피씨    213.36   14550   14000   -3.78

In [10]:
kospi_momentum20_result['등락률'].mean() * 100

160.30000000000015

In [11]:
df_ref = fdr.DataReader(
    symbol='KS11', 
    start="2020-10-05",
    end="2021-04-30"
)
df_ref

              Close     Open     High      Low        Volume  Change
Date
2020-10-05  2358.00  2330.55  2364.73  2327.83  7.636200e+08  0.0129
2020-10-06  2365.90  2369.17  2378.28  2355.39  8.617500e+08  0.0034
2020-10-07  2386.94  2350.82  2387.45  2347.82  7.379900e+08  0.0089
2020-10-08  2391.96  2408.49  2409.01  2383.82  9.617300e+08  0.0021
2020-10-12  2403.73  2404.18  2409.42  2393.74  8.435700e+08  0.0049
...             ...      ...      ...      ...           ...     ...
2021-04-26  3217.53  3191.34  3217.53  3191.34  1.300000e+09  0.0099
2021-04-27  3215.42  3218.30  3223.05  3203.25  1.530000e+09 -0.0007
2021-04-28  3181.47  3217.21  3219.69  3176.55  1.410000e+09 -0.0106
2021-04-29  3174.07  3184.75  3200.41  3161.06  1.220000e+09 -0.0023
2021-04-30  3147.86  3176.43  3179.43  3143.38  1.360000e+09 -0.0083

[143 rows x 6 columns]

In [12]:
(df['Close'][-1] / df['Close'][0] - 1) * 100

42.64965595776917