## 13.2 유가증권시장 12개월 모멘텀

최근 투자 기간 기준으로 12개월 모멘텀 계산 날짜 구하기

In [1]:
from pykrx import stock
import FinanceDataReader as fdr

In [2]:
df = fdr.DataReader(symbol='KS11', start="2019-11")
start = df.loc["2019-11"]
end = df.loc["2020-09"]

In [9]:
df.loc["2020-11"].head()

              Close     Open     High      Low       Volume  Change
Date
2020-11-02  2300.16  2276.61  2302.64  2267.95  678500000.0  0.0146
2020-11-03  2343.31  2315.81  2344.77  2315.30  887440000.0  0.0188
2020-11-04  2357.32  2361.32  2371.14  2339.95  986790000.0  0.0060
2020-11-05  2413.79  2373.41  2413.79  2370.85  702040000.0  0.0240
2020-11-06  2416.50  2421.79  2431.11  2404.97  825570000.0  0.0011

In [4]:
start

              Close     Open     High      Low       Volume  Change
Date
2019-11-01  2100.20  2084.79  2100.42  2081.53  418310000.0  0.0080
2019-11-04  2130.24  2111.32  2130.83  2111.32  476260000.0  0.0143
2019-11-05  2142.64  2133.66  2143.12  2128.70  400640000.0  0.0058
2019-11-06  2144.15  2142.69  2156.23  2138.83  410080000.0  0.0007
2019-11-07  2144.29  2141.05  2147.01  2135.45  425660000.0  0.0001
2019-11-08  2137.23  2154.18  2155.94  2133.75  574130000.0 -0.0033
2019-11-11  2124.09  2139.07  2139.07  2119.07  617270000.0 -0.0061
2019-11-12  2140.92  2131.26  2140.94  2121.80  610430000.0  0.0079
2019-11-13  2122.45  2132.48  2133.37  2118.67  664360000.0 -0.0086
2019-11-14  2139.23  2127.54  2139.23  2121.32  521110000.0  0.0079
2019-11-15  2162.18  2137.96  2165.02  2135.26  556250000.0  0.0107
2019-11-18  2160.69  2161.89  2165.89  2151.97  489230000.0 -0.0007
2019-11-19  2153.24  2151.04  2154.41  2137.01  826880000.0 -0.0034
2019-11-20  2125.32  2140.06  2145.97  2123.80  581060000.0 -0.0130
2019-11-21  2096.60  2123.65  2125.36  2088.19  579550000.0 -0.0135
2019-11-22  2101.96  2098.89  2106.42  2093.99  519850000.0  0.0026
2019-11-25  2123.50  2117.14  2130.04  2116.07  397680000.0  0.0102
2019-11-26  2121.35  2129.27  2139.64  2120.85  532600000.0 -0.0010
2019-11-27  2127.85  2134.47  2136.30  2118.07  367800000.0  0.0031
2019-11-28  2118.60  2116.93  2127.75  2116.58  335230000.0 -0.0043
2019-11-29  2087.96  2125.53  2125.53  2085.10  433260000.0 -0.0145

In [5]:
start_date = start.index[0]
end_date = end.index[-1]
print(start_date, end_date)

2019-11-01 00:00:00 2020-09-29 00:00:00

가격 모멘텀 계산 시작일 기준으로 등락률을 계산합니다.

In [6]:
kospi = stock.get_market_price_change_by_ticker(
    fromdate="20191104",   # 2019년 11월 01일 종가 
    todate="20200929",
    market="KOSPI"
)
kospi

               종목명      시가      종가    변동폭     등락률        거래량           거래대금
티커
095570      AJ네트웍스    4195    3245   -950  -22.65   44962584   162416541990
006840       AK홀딩스   31350   17550 -13800  -44.02   11991079   282232359550
027410         BGF    5600    4080  -1520  -27.14   44298005   197573427565
282330      BGF리테일  179500  123500 -56000  -31.20    9344131  1370113790405
138930     BNK금융지주    6820    5060  -1760  -25.81  280060889  1535514373380
...            ...     ...     ...    ...     ...        ...            ...
099340      하나니켈1호     448       0   -448 -100.00          0              0
099350      하나니켈2호    1195       0  -1195 -100.00          0              0
159650      하이골드8호    2050       0  -2050 -100.00          0              0
002300        한국제지   17900       0 -17900 -100.00          0              0
027390  한화갤러리아타임월드   19050       0 -19050 -100.00          0              0

[910 rows x 7 columns]

12개월 등락률(가격 모멘텀, 최근 1개월 제외)을 기준으로 상위 20종목의 종목 코드를 가져와봅시다.

In [7]:
kospi.sort_values(by='등락률', ascending=False)[:20]

             종목명     시가      종가     변동폭      등락률         거래량            거래대금
티커
019175     신풍제약우   6050  166500  160450  2652.07   115908329   6535409960280
025560      미래산업    174    3300    3126  1796.55  5140097483    585194730402
019170      신풍제약   6760  126500  119740  1771.30  1907578249  59648998138850
28513K    SK케미칼우  20800  166500  145700   700.48    63104019   4769498518050
005257  녹십자홀딩스2우  18250  138000  119750   656.16     4459483    419416428800
011000    진원생명과학   4130   29650   25520   617.92  1813962572  26179669336950
037270    YGPLUS   1300    8370    7070   543.85   923011679   3810131075760
007575     일양약품우  16750  106500   89750   535.82     8249200    747818980350
010145     삼성중공우  56900  356000  299100   525.66     6616329   3093004401350
285130     SK케미칼  47600  296500  248900   522.90   161881165  26451377867450
030790     비케이탑스    850    5180    4330   509.41  1352413208    798247368192
009835    한화솔루션우  11550   68200   56650   490.48    53743496   2033568632660
336260     두산퓨얼셀   7860   43100   35240   448.35   653770295  12611846562585
012170   키위미디어그룹    150     600     450   300.00           0               0
000995   DB하이텍1우  36950  142000  105050   284.30     3592118    375203308250
002410      범양건영   1570    6000    4430   282.17   440877190   1910061503960
033270   유나이티드제약  19050   72500   53450   280.58   154087665   7268073945150
002630   오리엔트바이오    432    1625    1193   276.16  1574701391   1220903405765
007570      일양약품  21750   79200   57450   264.14   291661465  18129920112050
006125  SK디스커버리우  14650   53000   38350   261.77    42127204   1612006593230

In [8]:
kospi_momentum20 = kospi.sort_values(by='등락률', ascending=False)[:20]
kospi_momentum20 = kospi_momentum20[['종목명', '등락률']]
kospi_momentum20.rename(columns={"등락률": "Momentum"}, inplace=True)
kospi_momentum20

             종목명  Momentum
티커
019175     신풍제약우   2652.07
025560      미래산업   1796.55
019170      신풍제약   1771.30
28513K    SK케미칼우    700.48
005257  녹십자홀딩스2우    656.16
011000    진원생명과학    617.92
037270    YGPLUS    543.85
007575     일양약품우    535.82
010145     삼성중공우    525.66
285130     SK케미칼    522.90
030790     비케이탑스    509.41
009835    한화솔루션우    490.48
336260     두산퓨얼셀    448.35
012170   키위미디어그룹    300.00
000995   DB하이텍1우    284.30
002410      범양건영    282.17
033270   유나이티드제약    280.58
002630   오리엔트바이오    276.16
007570      일양약품    264.14
006125  SK디스커버리우    261.77

In [10]:
pct_df = stock.get_market_price_change_by_ticker(
    fromdate="20201103",  # 2020-11-02일 종가가 시가 컬럼임
    todate="20210430",
    market="KOSPI"
)
pct_df

             종목명      시가      종가    변동폭     등락률        거래량           거래대금
티커
095570    AJ네트웍스    3615    5560   1945   53.80   59380081   262805500430
006840     AK홀딩스   17400   31100  13700   78.74   15899774   434550163600
027410       BGF    4050    6910   2860   70.62  146501016   902570473005
282330    BGF리테일  120000  153000  33000   27.50    6233601   935800000205
138930   BNK금융지주    5700    7670   1970   34.56  304219686  1849126816250
...          ...     ...     ...    ...     ...        ...            ...
000545     흥국화재우   16800   11200  -5600  -33.33    7010904    83129310950
003280      흥아해운     258     258      0    0.00          0              0
005190      동성화학   15450       0 -15450 -100.00          0              0
003415     쌍용양회우   38200       0 -38200 -100.00          0              0
152330  코리아오토글라스   14500       0 -14500 -100.00          0              0

[915 rows x 7 columns]

In [11]:
pct_df = pct_df[['시가', '종가', '등락률']]

In [12]:
kospi_momentum20_result = kospi_momentum20.join(pct_df)
kospi_momentum20_result

             종목명  Momentum      시가      종가     등락률
티커
019175     신풍제약우   2652.07  139000   72900  -47.55
025560      미래산업   1796.55    3010   15450  413.29
019170      신풍제약   1771.30  126000   69800  -44.60
28513K    SK케미칼우    700.48  174500  123000  -29.51
005257  녹십자홀딩스2우    656.16  159500   89400  -43.95
011000    진원생명과학    617.92   28650   17400  -39.27
037270    YGPLUS    543.85    4640    5870   26.51
007575     일양약품우    535.82   82500   37850  -54.12
010145     삼성중공우    525.66  310000  335000    8.06
285130     SK케미칼    522.90  347500  266500  -23.31
030790     비케이탑스    509.41    5770    9100   57.71
009835    한화솔루션우    490.48   74500   55600  -25.37
336260     두산퓨얼셀    448.35   41650   45100    8.28
012170   키위미디어그룹    300.00     600    1105   84.17
000995   DB하이텍1우    284.30  119000  118500   -0.42
002410      범양건영    282.17    4945    4000  -19.11
033270   유나이티드제약    280.58   47750   52400    9.74
002630   오리엔트바이오    276.16    1565    1510   -3.51
007570      일양약품    264.14   70200   38250  -45.51
006125  SK디스커버리우    261.77   51400   41900  -18.48

In [13]:
kospi_momentum20_result['수익률'] = kospi_momentum20_result['종가'] / kospi_momentum20_result['시가']
kospi_momentum20_result

             종목명  Momentum      시가      종가     등락률       수익률
티커
019175     신풍제약우   2652.07  139000   72900  -47.55  0.524460
025560      미래산업   1796.55    3010   15450  413.29  5.132890
019170      신풍제약   1771.30  126000   69800  -44.60  0.553968
28513K    SK케미칼우    700.48  174500  123000  -29.51  0.704871
005257  녹십자홀딩스2우    656.16  159500   89400  -43.95  0.560502
011000    진원생명과학    617.92   28650   17400  -39.27  0.607330
037270    YGPLUS    543.85    4640    5870   26.51  1.265086
007575     일양약품우    535.82   82500   37850  -54.12  0.458788
010145     삼성중공우    525.66  310000  335000    8.06  1.080645
285130     SK케미칼    522.90  347500  266500  -23.31  0.766906
030790     비케이탑스    509.41    5770    9100   57.71  1.577123
009835    한화솔루션우    490.48   74500   55600  -25.37  0.746309
336260     두산퓨얼셀    448.35   41650   45100    8.28  1.082833
012170   키위미디어그룹    300.00     600    1105   84.17  1.841667
000995   DB하이텍1우    284.30  119000  118500   -0.42  0.995798
002410      범양건영    282.17    4945    4000  -19.11  0.808898
033270   유나이티드제약    280.58   47750   52400    9.74  1.097382
002630   오리엔트바이오    276.16    1565    1510   -3.51  0.964856
007570      일양약품    264.14   70200   38250  -45.51  0.544872
006125  SK디스커버리우    261.77   51400   41900  -18.48  0.815175

In [16]:
수익률평균 = kospi_momentum20_result['수익률'].mean()
수익률평균

1.1065180167742072

In [15]:
mom20_cagr = 수익률평균 ** (1/0.5) - 1    # 6개월
mom20_cagr * 100

22.438212144592473

In [17]:
df_ref = fdr.DataReader(
    symbol='KS11', 
    start="2020-11-02",   # 첫번째 거래일
    end="2021-04-30"
)
df_ref

              Close     Open     High      Low        Volume  Change
Date
2020-11-02  2300.16  2276.61  2302.64  2267.95  6.785000e+08  0.0146
2020-11-03  2343.31  2315.81  2344.77  2315.30  8.874400e+08  0.0188
2020-11-04  2357.32  2361.32  2371.14  2339.95  9.867900e+08  0.0060
2020-11-05  2413.79  2373.41  2413.79  2370.85  7.020400e+08  0.0240
2020-11-06  2416.50  2421.79  2431.11  2404.97  8.255700e+08  0.0011
...             ...      ...      ...      ...           ...     ...
2021-04-26  3217.53  3191.34  3217.53  3191.34  1.300000e+09  0.0099
2021-04-27  3215.42  3218.30  3223.05  3203.25  1.530000e+09 -0.0007
2021-04-28  3181.47  3217.21  3219.69  3176.55  1.410000e+09 -0.0106
2021-04-29  3174.07  3184.75  3200.41  3161.06  1.220000e+09 -0.0023
2021-04-30  3147.86  3176.43  3179.43  3143.38  1.360000e+09 -0.0083

[124 rows x 6 columns]

In [18]:
CAGR = ((df_ref['Close'].iloc[-1] / df_ref['Close'].iloc[0]) ** (1/0.5)) -1
CAGR * 100

87.2900581630561

## 13.3 대형주 12개월 모멘텀

대형주(시가총액 200위) 기준으로 상대 모멘텀이 큰 종목을 20개 선정하는 전략

In [22]:
all = stock.get_market_price_change_by_ticker(
    fromdate="20191101",   # 2019년 11월 01일 종가 
    todate="20200929",
    market="all"
)
all

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [16]:
# 기본 필터링
# 우선주 제외 
all2 = all.filter(regex="0$", axis=0)

In [17]:
all2 = all2[['종목명', '등락률']]
all2

              종목명     등락률
티커
060310         3S  -44.14
095570     AJ네트웍스  -28.05
006840      AK홀딩스  -47.06
054620     APS홀딩스  -17.80
265520      AP시스템  -23.97
...           ...     ...
265920     한화수성스팩 -100.00
264290  한화에이스스팩3호 -100.00
279410  한화에이스스팩4호 -100.00
204990      현성바이탈 -100.00
134780         화진 -100.00

[2307 rows x 2 columns]

In [18]:
cap = stock.get_market_cap_by_ticker(date="20200929", market="ALL") 
cap = cap[['시가총액']]
cap

                   시가총액
티커
005930  347441344410000
000660   61152198660000
035420   48704096617500
051910   46167392322000
207940   45653850000000
...                 ...
224020       2565000000
267810       2219945000
344860       2046000000
225860       2033098468
238500       1938416724

[2500 rows x 1 columns]

In [19]:
all3 = all2.join(other=cap)
all3

              종목명     등락률          시가총액
티커
060310         3S  -44.14  9.498132e+10
095570     AJ네트웍스  -28.05  1.519383e+11
006840      AK홀딩스  -47.06  2.324947e+11
054620     APS홀딩스  -17.80  1.751864e+11
265520      AP시스템  -23.97  3.192890e+11
...           ...     ...           ...
265920     한화수성스팩 -100.00           NaN
264290  한화에이스스팩3호 -100.00           NaN
279410  한화에이스스팩4호 -100.00           NaN
204990      현성바이탈 -100.00           NaN
134780         화진 -100.00           NaN

[2307 rows x 3 columns]

In [20]:
# 대형주 필터링
big = all3.sort_values(by='시가총액', ascending=False)[:200]
big

              종목명     등락률          시가총액
티커
005930       삼성전자   19.14  3.474413e+14
000660     SK하이닉스    2.44  6.115220e+13
035420      NAVER   85.31  4.870410e+13
051910       LG화학  114.78  4.616739e+13
207940   삼성바이오로직스  113.62  4.565385e+13
...           ...     ...           ...
032350     롯데관광개발   38.12  1.066845e+12
122870  와이지엔터테인먼트  139.67  1.066451e+12
214320        이노션  -19.36  1.066000e+12
161890       한국콜마    8.58  1.057111e+12
073240      금호타이어  -14.93  1.055682e+12

[200 rows x 3 columns]

In [21]:
big.sort_values(by='등락률', ascending=False)

           종목명      등락률          시가총액
티커
019170    신풍제약  1873.48  6.702601e+12
096530      씨젠  1137.05  6.831339e+12
011000  진원생명과학   602.61  1.324985e+12
285130   SK케미칼   536.95  3.481324e+12
196170    알테오젠   383.38  5.063347e+12
...        ...      ...           ...
010950   S-Oil   -47.83  5.809272e+12
145020      휴젤   -53.15  2.314834e+12
017800  현대엘리베이   -54.32  1.589162e+12
086450    동국제약   -57.47  1.215981e+12
000100    유한양행   -72.03  4.292207e+12

[200 rows x 3 columns]

In [22]:
big_pct20 = big.sort_values(by='등락률', ascending=False)[:20]
big_pct20

               종목명      등락률          시가총액
티커
019170        신풍제약  1873.48  6.702601e+12
096530          씨젠  1137.05  6.831339e+12
011000      진원생명과학   602.61  1.324985e+12
285130       SK케미칼   536.95  3.481324e+12
196170        알테오젠   383.38  5.063347e+12
268600        셀리버리   381.04  1.655893e+12
237690        에스티팜   297.21  1.330173e+12
007570        일양약품   281.69  1.511585e+12
033270     유나이티드제약   268.02  1.177750e+12
060250  NHN한국사이버결제   226.97  1.573540e+12
088800       에이스테크   217.63  1.077194e+12
112610       씨에스윈드   202.13  1.713014e+12
067630   에이치엘비생명과학   200.48  1.463891e+12
006120     SK디스커버리   185.27  1.216519e+12
068760      셀트리온제약   181.74  4.060854e+12
247540      에코프로비엠   173.47  2.873404e+12
035720         카카오   165.09  3.210086e+13
095700         제넥신   159.64  3.464387e+12
278280          천보   156.48  1.703000e+12
005690         파미셀   143.59  1.082259e+12

In [27]:
pct_df = stock.get_market_price_change_by_ticker(
    fromdate="20201006",  # 2020-10-05일 종가가 시가 컬럼임
    todate="20211008",
    market="ALL"
)
pct_df = pct_df[['시가', '종가', '등락률']]
pct_df

           시가     종가     등락률
티커
060310   2165   3790   75.06
095570   3380   5690   68.34
006840  17500  26300   50.29
054620   8620  15300   77.49
265520  22150  23500    6.09
...       ...    ...     ...
023890  50000      0 -100.00
291210   2000      0 -100.00
102210   1100      0 -100.00
008800   1770      0 -100.00
284420  12900      0 -100.00

[2500 rows x 3 columns]

In [24]:
big_mom_result = big_pct20.join(pct_df, lsuffix='_m')
big_mom_result

               종목명    등락률_m          시가총액      시가      종가    등락률
티커
019170        신풍제약  1873.48  6.702601e+12  127000   69800 -45.04
096530          씨젠  1137.05  6.831339e+12  279800   93600 -66.55
011000      진원생명과학   602.61  1.324985e+12   30650   17400 -43.23
285130       SK케미칼   536.95  3.481324e+12  299000  266500 -10.87
196170        알테오젠   383.38  5.063347e+12  181000   80700 -55.41
268600        셀리버리   381.04  1.655893e+12  202400  114800 -43.28
237690        에스티팜   297.21  1.330173e+12   75100  114100  51.93
007570        일양약품   281.69  1.511585e+12   76800   38250 -50.20
033270     유나이티드제약   268.02  1.177750e+12   73700   52400 -28.90
060250  NHN한국사이버결제   226.97  1.573540e+12   68400   51000 -25.44
088800       에이스테크   217.63  1.077194e+12   25900   17950 -30.69
112610       씨에스윈드   202.13  1.713014e+12  107000   77000 -28.04
067630   에이치엘비생명과학   200.48  1.463891e+12   31250   10900 -65.12
006120     SK디스커버리   185.27  1.216519e+12   63500   57900  -8.82
068760      셀트리온제약   181.74  4.060854e+12  112200  133000  18.54
247540      에코프로비엠   173.47  2.873404e+12  136100  181000  32.99
035720         카카오   165.09  3.210086e+13  370500  113500 -69.37
095700         제넥신   159.64  3.464387e+12  144400  102000 -29.36
278280          천보   156.48  1.703000e+12  168900  181400   7.40
005690         파미셀   143.59  1.082259e+12   19300   16550 -14.25

In [25]:
big_mom_result['원금'] = 10000000
big_mom_result['매도금'] =  (big_mom_result['원금'] * (100 + big_mom_result['등락률'])) / 100

In [30]:
최초자산 = big_mom_result['원금'].sum()
최종자산 = big_mom_result['매도금'].sum()
big_mom_cagr = (최종자산/최초자산) ** (1/1) - 1    # 12개월
big_mom_cagr * 100

-25.185500000000005

## 장기 백테스팅

In [8]:
df = fdr.DataReader(symbol='KS11')